<%# <div data-turbo="false"> %>
<div class="bg-cyan-800">
  <div class="hero min-h-screen" style="background-image: url('<%= asset_path 'Top3.png' %>');">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-3xl mx-auto">
      <h1 class="mb-5 text-4xl font-bold">
        二軒目選び、もう悩まない。<br>
        HASHIGOで手軽に、迅速に、最適なお店を見つけよう。<br></h1>
      <p class="mb-5">
          HASHIGOは、飲み会の二次会先を迅速に選ぶサポートアプリ。<br>
          近くの高評価店舗を即座に絞り込み、並び替えや投票機能で簡単に次のスポットを決められます。<br>
          今すぐHASHIGOを使って、スムーズなお店選びを体験しましょう! <br></p>
        <%= link_to 'Get started', login_path, class:'btn glass rounded-full mb-12' %>
    </div>
  </div>
  </div>
</div>
<%# </div> %>