<%# <div data-turbo="false"> %>
<div class="bg-cover bg-center" style="background-image: url('<%= asset_path 'Top6.png' %>')">
  <div class="container mx-auto flex flex-col justify-center items-center">
    <div class="sm:col-span-2 p-3.5 mt-8">
        <p class="mt-2 p-3.5 font-sans text-neutral-50 text-xl font-bold text-center">
          二軒目選び、もう悩まない。<br>
          HASHIGOで手軽に、迅速に、最適なお店を見つけよう。<br>
        </p>
    </div>
    <div>
      <button class="btn glass rounded-full mb-12"><strong>Get started</button>
    </div>
  </div>
</div>
<%# </div> %>