<div data-turbo="false">
<div class="container mx-auto flex justify-center items-center">
  <div class="sm:col-span-2 p-3.5">
      <p class="mt-2 p-3.5 text-info font-serif text-xl font-bold text-center">
        もう二軒目探しに迷わない<br>
        HASHIGOでサッと手軽に二軒目のお店を探しましょう<br>
      </p>
    <div class="form-control flex justify-center">
        <label class="label">
            <span class="label-text">Enter address</span>
            <span class="label-text-alt">Top Right label</span>
        </label>
        <input type="text" placeholder="Search from current location or enter address" class="input input-bordered" />
        <label class="label">
            <span class="label-text-alt">Bottom Left label</span>
            <span class="label-text-alt">Bottom Right label</span>
        </label>
    </div>
  </div>
</div>
</div>