<div class="hero min-h-screen" style="background-image: url('<%= asset_path 'Top.webp' %>');">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-2xl md:text-4xl font-bold">
        二軒目選び、もう悩まない。
      </h1>
      <h1 class="mb-8 text-2xl md:text-4xl font-bold tracking-tight">
        HASHIGOで手軽に、迅速に、最適なお店を見つけよう。<br>
      </h1>
      <p class="mb-10 text-sm tracking-tight md:tracking-wide md:text-base">
          HASHIGOは、飲み会の二次会先を迅速に選ぶサポートアプリ。<br>
          近くの高評価店舗を即座に絞り込み、並び替えやランダム選択機能で簡単に次のスポットを決められます。<br>
          今すぐHASHIGOを使ってスムーズなお店選びを体験しましょう! <br></p>
        <%= link_to 'Get started', search_restaurants_path, class:'btn glass rounded-full mb-12' %>
    </div>
  </div>
</div>
