<p>いつも「HASHIGO」をご利用くださいまして、誠にありがとうございます。</p>

<p>下記のURLをクリックして、パスワード再設定の手続きを行ってください。</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>このメールに心当たりのない場合、恐れ入りますが本メールを破棄してください。</p>
<p>また、こちらは送信専用のメールとなりますので、返信いただいても回答できません。ご了承ください。</p>
