<footer class="footer footer-center p-10 bg-base-200 text-base-content bg-cyan-800">
  <div class="grid grid-flow-col gap-4">
    <%= link_to t('defaults.terms_of_use'), page_path('terms'), class: "link link-hover text-neutral-50" %>
    <%= link_to t('defaults.privacy_policy'), page_path('privacy'), class: "link link-hover text-neutral-50" %>
    <%= link_to t('defaults.contact'), 'https://twitter.com/okada84108983', class: "link link-hover text-neutral-50"%>
  </div>
  <div class="text-neutral-50">
    <p>Photo by <a href="https://unsplash.com/@fwed?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Fred Moon</a> on <a href="https://unsplash.com/photos/0yqa0rMCsYk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </p>
    <p>Copyright © 2023 - All right reserved by HASHIGO</p>
  </div>
</footer>