<div class="mb-4 mt-4">
  <%= form_with model:restaurant, url: update_tag_restaurant_path(restaurant), method: :post do |f| %>
    <%= f.text_field :tag_list, value:restaurant.tag_list.join(", "), placeholder: "カンマで区切って入力", class:"input input-bordered input-sm w-full max-w-xs" %>
    <%= f.submit restaurant.tag_list.length > 0 ? "更新" : "追加", class: "btn btn-sm btn-accent" %>
  <% end %>
</div>