<div class="flex-grow flex items-center justify-center">
  <div class="container mx-auto px-4">
    <h1 class="font-bold mb-8 text-center"><%= t '.title' %></h1>
    <div class="mt-4 mb-6 flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-4">
      <%= link_to (t '.to_search_page'), search_restaurants_path, class: 'btn btn-accent' %>
      <%= link_to (t '.to_address_search_page'), address_search_restaurants_path, class: 'btn btn-accent' %>
    </div>
  </div>
</div>