<div class="container mx-auto px-4">
  <div class="mt-4 mb-6 flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-4">
    <%= link_to '現在地から検索', search_restaurants_path, class: 'btn btn-accent' %>
    <%= link_to '入力住所から検索', address_search_restaurants_path, class: 'btn btn-accent' %>
  </div>