<h1>Places Near Address</h1>

<%= form_with url: search_places_path, method: :get do |form| %>
  <%= form.text_field :address, placeholder: 'Enter address', value: params[:address] %>
  <%= form.submit 'Search' %>
<% end %>

<% if @places.present? %>
  <h2>Nearby Places:</h2>
  <ul>
    <% @places.each do |place| %>
      <li><%= place['name'] %></li>
    <% end %>
  </ul>
<% else %>
  <p>No places found nearby.</p>
<% end %>